/* Reset margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the cars */
.car {
    position: relative;
    width: 50px;
    height: 30px;
    margin-bottom: 20px;
}

/* Different colors for each car */
#car1 { background-color: red; }
#car2 { background-color: orange; }
#car3 { background-color: yellow; }
#car4 { background-color: green; }
#car5 { background-color: blue; }

/* Styling the race track */
.track {
    border: 10px solid #663300; /* Brown color for track borders */
    background-image: url('../img/corrida.png'); /* Background image for the track */
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%; /* Width of the race track */
    max-width: 800px; /* Maximum width of the race track */
    height: 290px; /* Height of the race track */
    margin: 20px auto; /* Center the race track */
    padding: 20px;
    position: relative;
    overflow: hidden; /* Prevent cars from exceeding track boundary */
}

/* Styling the result container */
#result {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

/* Styling the "Congratulations, you won!" message */
.win-message {
    color: green; /* Green color for win messages */
}

/* Styling the "You lost the bet" message */
.lose-message {
    color: red; /* Red color for loss messages */
}

/* Styling the bet container */
#bet {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Width of the bet container */
    max-width: 400px; /* Maximum width of the bet container */
    margin: 20px auto; /* Center the bet container */
}

/* Styling the bet label */
#aposta {
    display: block;
    margin-bottom: 10px;
}

/* Styling the bet input field */
.input-wrapper {
    display: flex;
    align-items: center;
}

#amount {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Styling the currency symbol */
.currency {
    padding: 8px;
    background-color: #ccc;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
}

/* Styling the label for pilot selector */
#bet label {
    margin-bottom: 10px;
    display: block;
}

/* Styling the pilot selector */
#pilot {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

/* Styling the bet and race button */
#bet button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#bet button:hover {
    background-color: #45a049;
}
